anim(time = 0.3s, transition = ease-out)
	transition all time transition

anim_prop(props = all, time = 0.3s, transition = ease-out)
	transition props time transition

no_select()
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	cursor default